<ion-view title="Android OS" id="page2">
  <ion-content padding="true" class="has-header">
    <h4 id="androidOS-heading1" style="color:#A36F1F;">Android Q : Powering Foldables</h4>
    <div ng-init="videourl_video1=&quot;https://www.youtube.com/embed/Anhn_4-oMlY?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="androidOS-video1">
      <iframe src="{{videourl_video1}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <ion-list id="androidOS-list3">
      <ion-item class="item-avatar" id="androidOS-list-item4">
        <img src="img/AGF-l78PDkEehJrie6ySgRbbFvrSdkEOMQylGWRPJws88-mo-c-c0xffffffff-rj-k-no">
        <h2>Android</h2>
        <p>Published on May 7, 2019</p>
      </ion-item>
    </ion-list>
    <div id="androidOS-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">The foldables revolution is just beginning and it’s being powered by Android Q. Developer tools lead Leo Sei explains how Android’s openness makes it a great fit for foldables.</p>
    </div>
    <div class="spacer" style="height: 100px;"></div>
    <a ui-sref="aPPLE()" id="androidOS-button1" class="button button-positive button-block">Apple IOS</a>
  </ion-content>
</ion-view>