<ion-view title="Contact Us" id="page4">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/PorGGFwXSnKKIANpRjBz_OTPAM-logo.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="contactUs-list5">
      <ion-item class="item-icon-left" id="contactUs-list-item6">
        <i class="icon ion-social-whatsapp"></i>011-1002 1330</ion-item>
      <ion-item class="item-icon-left" id="contactUs-list-item7" href="mailto:uwaisnizaludin94@gmail.com">
        <i class="icon ion-ios-email-outline"></i>info@otpam.com</ion-item>
      <ion-item class="item-icon-left" id="contactUs-list-item8">
        <i class="icon ion-social-google-outline"></i>www.otpam.com</ion-item>
    </ion-list>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3984.6392667773725!2d101.65429641475679!3d2.9196665978734817!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31cdb6fe91584f2d%3A0x626fd1d1a8d3540!2sOTPAM+iT+HUB!5e0!3m2!1sen!2smy!4v1558753522598!5m2!1sen!2smy"
      width="300" height="300" frameborder="0" style="border:0" allowfullscreen=""></iframe>
  </ion-content>
</ion-view>