<ion-view title="Silder Page" hide-nav-bar="true" id="page6" style="background-color:#2F5FB5;">
  <ion-content padding="false" class="manual-ios-statusbar-padding">
    <ion-slides disable-side-menu-drag="" options="{'loop': false}" slider="slider2" delegate-handle="slider2" id="silderPage-slider2" style="width:100%;height:100&amp;;">
      <ion-slide-page id="silderPage-slide29" style="background-color:#0477DE;">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <div>
                <img src="img/jPRqKRuSNifqNVsSWX0Q_samsung-galaxys7edge-blackonyx-450x350.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
              </div>
              <h1 id="silderPage-heading5" style="color:#000000;text-align:center;">WELCOME</h1>
            </div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page id="silderPage-slide210" style="background-color:#415D45;">
        <div>
          <img src="img/XZESOiNBQGa2EOF9TJBv_camera-mobile-phone-500x500.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
        <h1 id="silderPage-heading6" style="color:#978325;text-align:center;">HELLO PHONE</h1>
      </ion-slide-page>
      <ion-slide-page id="silderPage-slide211" style="background:url(&quot;img/WE6rB9dZRTiIWQlP5qsA_kitten3.jpg&quot;) no-repeat center;background-size:cover;background-color:#CBD266;">
        <div>
          <img src="img/cGlMyUwrTqajhx7ZYxLD_Tashan-TS-821-ELEGANCE-16GB-SDL245251733-1-cd803.jpg" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
        <h1 id="silderPage-heading7" style="color:#824619;text-align:center;">GOOD PHONE</h1>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>