<ion-view title="UWAIS APPS TRAINING" id="page1">
  <ion-content padding="false" class="has-header">
    <div>
      <img src="img/siraoXuHQCatXad3S0e8_images.jpg" style="display: block; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="uWAISAPPSTRAINING-list1">
      <ion-item class="item-icon-left item-icon-right positive" id="uWAISAPPSTRAINING-list-item3">
        <i class="icon ion-android-phone-portrait"></i>Operating System
        <i class="icon ion-android-arrow-dropdown icon-accessory"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left assertive" id="uWAISAPPSTRAINING-list-item1" ui-sref="androidOS()">
        <img src="img/aVe92FlzRD28HQQU99S2_android-3383992_960_720.png">
        <h2assertive>Android OS
          <p style="white-space:normal;">Android is a mobile operating system developed by Google.</p>
        </h2assertive>
      </ion-item>
      <ion-item class="item-thumbnail-left assertive" id="uWAISAPPSTRAINING-list-item2" ui-sref="aPPLE()">
        <img src="img/kQfZ8woR4qOY6pGQclLx_apple-ios-12-logo.png">
        <h2assertive>APPLE IOS
          <p style="white-space:normal;">iOS is a mobile operating system created and developed by Apple Inc. </p>
        </h2assertive>
      </ion-item>
    </ion-list>
    <button id="uWAISAPPSTRAINING-button10" class="button button-positive button-block">Tap me!</button>
  </ion-content>
</ion-view>